<h1>Nuestras Redes</h1>
<!--Enlaces con botones e imagenes-->
<div class="list-group">
  <a href="https://www.instagram.com/" class="list-group-item list-group-item-action">Nuestro Instagram</a>
  <a href="https://twitter.com/" class="list-group-item list-group-item-action">Nuestro Twitter</a>
  <a href="https://www.facebook.com/?locale=es_LA" class="list-group-item list-group-item-action">Nuestro facebook</a>
  <a href="https://www.facebook.com/?locale=es_LA" class="list-group-item list-group-item-action">Nuestro facebook</a>
</div>
<h2>Otras formas de Contactarnos</h2>
<div class="list-group">
  <p class="list-group-item list-group-item-action">Telefono: 2990000000</p>
  <a href="ledeciahola@hotmail.com" class="list-group-item list-group-item-action">Correo Electronico</a>
</div>