<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Empresas asociadas
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          Nuestros materiales tienen la más alta calidad asegurada por Cacharita Papeles, la tinta proviene Calamardo Inc y el amor que le ponemos a todo lo que hacemos viene de un espíritu revanchista por la disolución de Yugoslavia en 1991.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Nuestras oficinas
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          Nuestras oficinas son un bodrio, están abiertas al público de sabado a lunes de 20 a 8 hs. El libro de quejas es usado también como materia prima en la fabricación de aviones de papel, incluso hicimos uno de 4 metros.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Nuestro equipo
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            Somos un equipo variopinto de personas, pokemones e Inteligencia Artificial que trabaje en conjunto para resolver las dificultades que se presentan. Comemos empanadas con frecuencia y nos gusta quitarles las pasas de uva (polemico).<br> En términos de reproducción empresarial Vaporeon es nuestra principal competencia.
        </div>
      </div>
    </div>
  </div>